<!--header-->
<div class="heading d-flex justify-content-between align-items-center w-100">
  <div class="back-btn text-white ml-2">
    <%= link_to :back do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="pg-title">
    Edite seu perfil
  </div>
  <div>
  </div>
</div>
<!--fim do header-->
<div class="container">
  <div class="container d-flex justify-content-center text-center mt-2 pt-5">
  </div>
  <div class="container d-flex justify-content-center pt-2 mt-3">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true%>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :password,
                    hint: "Deixe em branco se você não quer mudar",
                    required: false,
                    label: 'Nova senha',
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    label: 'Confirme a senha',
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "Necessário para confirmarmos suas mudanças",
                    required: true,
                    label: 'Senha atual',
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :state, 
                    label: 'Estado',
                    collection: [
                      'Acre', 
                      'Alagoas',
                      'Amazonas',
                      'Amapá',
                      'Bahia',
                      'Ceará',
                      'Distrito Federal',
                      'Espírito Santo',
                      'Goiás',
                      'Maranhão',
                      'Minas Gerais',
                      'Mato Grosso do Sul',
                      'Mato Grosso',
                      'Pará',
                      'Paraíba',
                      'Pernambuco',
                      'Piauí',
                      'Paraná',
                      'Rio de Janeiro',
                      'Rio Grande do Norte',
                      'Rondônia',
                      'Roraima',
                      'Rio Grande do Sul',
                      'Santa Catarina',
                      'Sergipe',
                      'São Paulo',
                      'Tocantins'
                      ] %>
        <%= f.input :city, label: 'Cidade' %>
        <%= f.input :phone_number, label: 'Telefone' %>
        <%= f.input :photo, :label => 'Alterar avatar', as: :file %>
      </div>
      <div>
        <%= f.button :submit, "Atualizar", class: 'd-flex justify-content-center form-actions pink-btn justify-content-center align-center-btn mb-3 w-100' %> 
      </div>
    <% end %>
  </div>
  <div class="container container d-flex justify-content-center mb-2">
    <%= link_to "Cancelar conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete, class: "justify " %></p>
</div>
</div>
