
<!-- INDEX DE ANGELS -->
  <div class="container">
    <h1>Enviar Mensagem</h1>
    <br>
    <input class="form-control" type="text" placeholder="Digite aqui o nome da pessoa" aria-label="Search">
    <br>
    <p>Meus Favoritos</p>
    <br>
    <div class="d-flex justify-content-around">
      <p> <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %> <br>Nome</p>
      <p> <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %> <br>Nome</p>
      <p> <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %> <br>Nome</p>
      <p> <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %> <br>Nome</p>
      <p> <i class="fas fa-user-plus"></i> <br><%= link_to 'Criar novo Anjo', new_angel_path %></p>
    </div>

    <br>

    <div class="container card text-center" style="width: 28rem;">
    <div class="card-body">
      <p class="card-text ">Estou em perigo e preciso de ajuda.<br>Essa é a minha localização!</p>
      <a href="#" class="btn btn-outline-primary card-link">Editar Mensagem</a>
      <a href="#" class="btn btn-primary card-link">Enviar Mensagem</a>
    </div>

    </div>
    <br>

   
  </div>

