<div class="container"> 
  <h2> <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar-square pic", alt: "avatar" %> </h2>
  <h5> <strong>Olá <%= @user.first_name %> </strong> </h5>
  <br>
  <% if @user.is_business %>
    <% if @user.places.present? %>
      <h4>Seu estabelecimento: <%= link_to  @user.places.first.name, place_path(@user.places.first) %> </h4>
    <% else %>
      <p>
        <button class="btn border" type="button" data-toggle="collapse" data-target="#select-place" aria-expanded="false" aria-controls="select-place">
          Meu estabelcimento já está cadastrado plataforma
        </button>
      </p>
      <div class="collapse" id="select-place">
        <div class="card card-body">
          <%= simple_form_for :owner, url: add_owner_path, method: "patch" do |f| %>
            <%= f.input :place, as: :select, collection: @places %>
            <%= f.submit 'Adicionar esse estabelecimento', input_html: { data: { confirm: 'O estabelecimento selecionado está correto?' } } %>
          <% end %>
        </div>
        
      </div>
      <p><%= link_to 'Adicionar meu estabelecimento à Ollivia!', new_place_path, class: "btn border" %></p>
    <% end %>
  <% else %>
    <h4 class="title table page-item">Meus Anjos</h4>
    <p class="btn btn-sm btn-primary btns"><%= link_to "Adicionar novo anjo", new_angel_path %></p>
    
    <ul>
      <% if @user.angels %>
        <% @user.angels.each do |angel| %>
          <li><%= link_to angel.first_name, angel_path(angel) %></li>
        <% end %>
      <% end %>
    </ul>

    <h4 class="title table">Minhas Reviews</h4>
    <ul>
        <% @user.reviews.each do |review| %>
          <li> <%= link_to review.title, review_path(review) %></li>
        <% end %>
    </ul>
  <% end %>
</div>

<!-- JS SCRIPT TO SELECT PLACE -->
<script>
  <%# // Place form
  const placeSelect = document.getElementById('select-place');

  // Init place
  let place;

  // Place select change
  placeSelect.addEventListener('change', (event) => {
    place = event.target.value;
    console.log(place);
  }) %>
</script>
