<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 d-flex justify-content-center p-2">
      <%= cl_image_tag current_user.photo.key, class:"avatar", transformation: [{width: 400, height: 400, gravity: "face", radius: "max", crop: "crop", quality: 80}, {width: 150, crop: "scale"}] %>
    </div>
    <h5 class="col-12 d-flex justify-content-center pt-2"> <strong>Olá, <%= @user.first_name %> </strong> </h5>
  </div>
  <br>
  <div>
    <%= link_to 'Editar perfil', edit_user_registration_path, class: "dropdown-item navDropLogadoTxt" %>
    <div class="dropdown-divider"> </div>
    <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "dropdown-item navDropLogadoTxt" %></a>
</div>
<h4 class="title table page-item">Meus Anjos</h4>
<p class="btn btn-sm btn-primary btns"><%= link_to "Adicionar novo anjo", new_angel_path %></p>
<ul>
  <% if @user.angels %>
    <% @user.angels.each do |angel| %>
      <li><%= link_to angel.first_name, angel_path(angel) %></li>
    <% end %>
  <% end %>
</ul>
<h4 class="title table">Minhas Reviews</h4>
<ul>
  <% @user.reviews.each do |review| %>
    <li> <%= link_to review.title, review_path(review) %> (<%= link_to review.place.name, place_path(review.place) %>)</li>
  <% end %>
</ul>
</div>
