<div class="navbar navbar-expand navbar-light navbar-lewagon justify-content-between nav">
  <a class="navbar-brand" href="/"> <%= image_tag("busca.png") %> </a>
  <a class="navbar-brand" href="/"> <%= image_tag("vmj.png") %> </a>
  <a class="navbar-brand" href="/"> <%= image_tag("reportar.png") %> </a>
  <a class="navbar-brand" href="/"> <%= image_tag("comunidade.png") %> </a>
  <a class="navbar-brand" href="/"> <%= image_tag("boss.png") %> </a>
</div>
