<div class="logo-nav">
  <%= link_to image_tag("menu/ollivia_wt.png"), main_app.ollivia_path, class: "logo-nav" %>
</div>
<div class="navbar navbar-expand navbar-light navbar-lewagon justify-content-between nav">
  <%= link_to image_tag("menu/busca_wt.png"), main_app.root_path, class: "icone-menu" %>
  <%= link_to image_tag("menu/vmj_wt.png"), main_app.together_path, class: "icone-menu" %>
  <div style="width: 50px;"></div>
  <%= link_to image_tag("menu/comunidade_wt.png"), main_app.community_path, class: "icone-menu" %>
  <%= link_to image_tag("menu/user_wt.png"), main_app.users_path, class: "icone-menu" %>
</div>
