<div class="navbar navbar-expand navbar-light navbar-lewagon justify-content-between nav">
  <%= link_to image_tag("menu/busca.png"), together_path, class: "navbar-brand" %>
  <%= link_to image_tag("menu/vmj.png"), together_path, class: "navbar-brand" %>
  <%= link_to image_tag("menu/reportar.png"), report_path, class: "navbar-brand" %>
  <%= link_to image_tag("menu/comunidade.png"), community_path, class: "navbar-brand" %>
  <%= link_to image_tag("menu/boss.png"), company_path, class: "navbar-brand" %>
</div>
