<div class="logo-nav">
  <%= link_to image_tag("menu/ollivia_rx.png"), ollivia_path, class: "logo-nav" %>
</div>
<div class="navbar navbar-expand navbar-light navbar-lewagon justify-content-between nav">
  <%= link_to image_tag("menu/busca_hover.png"), root_path, class: "icone-menu" %>
  <%= link_to image_tag("menu/vmj_rx.png"), together_path, class: "icone-menu" %>
  <div style="width: 50px;"></div>
  <%= link_to image_tag("menu/comunidade_rx.png"), community_path, class: "icone-menu" %>
  <%= link_to image_tag("menu/user_rx.png"), users_path, class: "icone-menu" %>
</div>
