<div class="logo-nav">
  <%= link_to image_tag("menu/ollivia_wt.png"), ollivia_path, class: "logo-nav" %>
</div>
<div class="navbar navbar-expand navbar-light navbar-lewagon justify-content-between nav">
  <%= link_to image_tag("menu/busca_wt.png"), home_path, class: "icone-menu" %>
  <%= link_to image_tag("menu/vmj_wt.png"), together_path, class: "icone-menu" %>
  <div style="width: 50px;"></div>
  <%= link_to image_tag("menu/comunidade_wt.png"), community_path, class: "icone-menu" %>
  <%= link_to image_tag("menu/user_wt.png"), users_path, class: "icone-menu" %>
</div>
