<div class="navbar navbar-expand navbar-light navbar-lewagon justify-content-between nav">
  <a class="navbar-brand" href="/"> <%= image_tag("busca.png") %> </a>
  <%= link_to image_tag("vmj.png"), together_path, class: "navbar-brand" %>
  <%= link_to image_tag("reportar.png"), report_path, class: "navbar-brand" %>
  <%= link_to image_tag("comunidade.png"), community_path, class: "navbar-brand" %>
  <%= link_to image_tag("boss.png"), company_path, class: "navbar-brand" %>
</div>
