<div class="card-map" style="width: 25em;
                             height: 24em;">
  <!-- Card image -->
  <div class="view overlay">
    <%= cl_image_tag place.photo.key,
    class: "shadow-lg card-img-olli d-flex justify-content-center", style:"width: 23em;
                                                                           height:10em"  %>
    <a>
      <div class="mask rgba-white-slight"> </div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">
    <!-- Title -->
    <h4 class="card-title"> <%= link_to place.name, place_path(place) %> </h4>

    <!-- Text -->
    <p class="card-text"> <%= place.address %> </p>

    <!-- Rating -->
    <hr>
    <% iconPercentage = (place.average_rating.round(1) / 5) * 100 %>
    <% iconPercentageRounded = (iconPercentage / 10).round * 10 %>
    <% if place.reviews.length == 0 %>
      <p>Local sem avaliações</p>
    <% else %>
      <div class="rating-container">
        <div class="rates-outer">
          <div class="rates-inner" style="width:<%= iconPercentageRounded %>%;">
          </div>
        </div>
        <span id="number-rating">Rating Ollivia <%= place.average_rating.round(1) %></span>
      </div>
    <% end %>
  </div>
</div>
