<!-- Header + info -->
<div class="heading d-flex justify-content-between align-items-center w-100">
  <div class="back-btn text-white ml-2">

    <%= link_to :back do %>
      <i class="fas fa-arrow-left"></i>

    <% end %>
  </div>
  <div class="pg-title" style="margin-left: 7em;
                              margin-right: 7em;">
    OLLIVIA
  </div>
  <div><i class="fas fa-info" style="color: white;"></i></div>
  <div class="mb-5">
  </div>
</div>
<!-- Fim do Header -->




<h2>Emergência</h2>
<p><%= link_to 'Notificar anjos', message_angels_path %></p>
<p><%= link_to 'Notificar usuárias próximas', message_near_users_path %></p>
<p><%= link_to 'Notificar autoridades', message_authorities_path %></p>
<%# Descomentar para a demoday %>
<p><%# link_to 'Demonstrar envio de SMS', demo_notification_path %></p>
<%= link_to 'voltar', ollivia_path %>
