<div class="map-button">
  <%= link_to 'Perto de mim', near_me_path %>
</div>
<div class="map-button">
  <%= link_to 'Top 5', top_places_path %>
</div>
<div class="map-button">
  <%= link_to 'Recomendados', recommended_path %>
</div>
<div id="map"
     style="width: 100%; height: 700px;"
     data-markers="<%= @markers.to_json %>"
     data-rmarker="<%= @rmarker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
