<div class="container">
  <div id="map"
     style="width: 100%; height: 85%; position: absolute; top: 65px; left:0px;"
     data-markers="<%= @markers.to_json %>"
     data-rmarker="<%= @rmarker.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="row" style="position:absolute; top: 140px;">
    <div class="col-4 btn" >
      <%= link_to 'Perto de mim', near_me_path %>
    </div>
    <div class="col-4 btn">
      <%= link_to 'Top 5', top_places_path %>
    </div>
    <div class="col-4 btn">
      <%= link_to 'Recomendados', recommended_path %>
    </div>
  </div>
</div>
