<h1>Edite sua review</h1>
<%= simple_form_for @review do |f|%>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>  

  <%= f.input :title  %>
  <%= f.input :content %>
  <%= f.input :rating, collection: (0..5).to_a, selected: 0 %>
  <%= f.button :submit, "Editar" %>
<% end %>
