<h2>Review of <%= @review.place.name %></h2>
<% if @review.is_disabled? %>
  <p> Avaliação removida </p>
<% else %>
  <p><%= @review.content %></p>
<% end %>
<% if @review.user == current_user %>
  <p>Sua avaliação: <%= @review.rating %></p>
<% elsif @review.is_anonymous %>
  <p> Avaliação de usuário anônimo: <%= @review.rating %></p>
<% else %>
  <p> Avaliação de <%= @review.user.username %>: <%= @review.rating %></p>
<% end %>
<% @review.responses.each do | response | %>
  <div>
    <p><%= response.response %></p>
    <p><em>Responded by <%= response.review.place.name %> <%= "(owner)" if current_user == @review.place.owner %> </em></p>
    <hr>
  </div>
<% end %>
<% if policy(@review).create_response? %>
  <div>
    <p>Write a response:</p>
    <%= simple_form_for [@review, @response], method: 'post' do |f| %>
      <div>
        <%= f.input :response %>
        <%= f.submit 'Respond' %>
      </div>
    <% end %>
  </div>
<% end %>
<% if policy(@review).edit?  %>
  <p><%= link_to "Editar review", edit_review_path %></p>
<% end %>
<% if policy(@review).disable? %>
  <%= link_to "Desativar review", disable_review_path(@review) %>
<% end %>
<p><%= link_to "Voltar para #{@review.place.name}", place_path(@review.place) %></p>

<% if policy(@review).satisfy? %>
  <p><%= link_to "Questão resolvida?", satisfy_review_path(@review) %>
<% end %>