<h2>Review of <%= @review.place.name %></h2>
<p><%= @review.content %></p>
<p>Ranking Ollivia: <%= @review.rating %></p>
<p>By: <%= @review.user.username %></p>
<% if @review.response %>
  <h3>Responded by <%= @review.place.name %></h3>
  <%= @review.response.response %>
<% end %>
<% if policy(@review).create_response? %>
  <div>
    <p>Write a response for <%= @review.user.username %></p>
    <%= simple_form_for [@review, @response], method: 'post' do |f| %>
      <div>
        <%= f.input :response %>
        <%= f.submit 'Response' %>
      </div>
    <% end %>
  </div>
<% end %>
