<!--Header-->
<div class="heading d-flex justify-content-between align-items-center w-100">
  <div class="back-btn text-white ml-2">
    <%= link_to :back do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="pg-title" style="margin-left: 7em;
                              margin-right: 7em;">
    AVALIAÇÃO
  </div>
  <div>
    <i class="fas fa-info" style="color: white;"></i>
  </div>
  <div class="mb-5"></div>
</div>
<!-- Fim do header -->
<div>
  <!--img -->
  <div class="pt-4">
    <%= cl_image_tag @review.place.photo.key, transformation: [{width: 414, height: 300, crop: "fill"}] %>
  </div>
  <!-- infos do estabelecimento -->
  <div class="review-content mt-3">
    <% if @review.place.reviews.length > 0 %>
      <!-- RATING SYSTEM -->
      <div class="review-ranking">
        <div class="rating-container">
          <div class="rates-outer">
            <% iconPercentage = (@review.place.average_rating.round(1) / 5) * 100 %>
            <% iconPercentageRounded = (iconPercentage / 10).round * 10 %>
            <div class="rates-inner" style="width:<%= iconPercentageRounded %>%;">
            </div>
          </div>
          <span><%= @review.place.average_rating.round(1) %></span>
          <span class="txt-rating d-block">Rating Ollivia</span>
        </div>
      </div>
    <% end %>
  </div>
  <!-- PLACE NAME -->
  <div class="d-flex mt-5 purple justify-content-center">
    <%= link_to place_path(@review.place) do %>
      <h2><strong style="color: #7209B7;"><%= @review.place.name %></strong></h2>
    <% end %>
  </div>
  <!-- REVIEW TITLE -->
  <div class="d-flex justify-content-center">
    <h3><%= @review.title %></h3>
  </div>
  <!-- REVIEW USER, RATING, GOOD OR BAD -->
  <div class="d-flex justify-content-around my-3">
    <% if @review.user == current_user %>
      <span class="align-self-center">Sua avaliação: </span>
    <% elsif @review.is_anonymous %>
      <span class="align-self-center"> Avaliação de usuário anônimo: </span>
    <% else %>
      <span class="align-self-center"> Avaliação de <%= @review.user.username %>: </span>
    <% end %>
    <!-- RATING SYSTEM -->
    <div class="rates-outer align-self-center" data-rating="<%= @review.rating %>">
      <% reviewPercent = (@review.rating / 5) * 100 %>
      <% reviewPercentRounded = (reviewPercent / 10).round * 10 %>
      <div class="rates-inner align-self-center" style="width:<%= iconPercentageRounded %>%;">
      </div>
    </div>
    <% if @review.is_good %>
      <div class="xp-btn d-flex justify-content-center">
        <i class="far fa-smile-beam mt-2"></i>
      </div>
    <% else %>
      <div class="xp-btn d-flex justify-content-center">
        <i class="far fa-frown mt-2"></i>
      </div>
    <% end %>
  </div>
  <br>
  <!-- REVIEW HEADER -->
  <div class="review-card">
    <div class="review-header m-3">
      <% if @review.is_anonymous %>
        <div class="d-flex justify-content-start">
          <div>
            <!-- avatar anonimo -->
            <%= image_tag 'menu/user_anon.png', class:"avatar-mini", transformation: [{width: 400, height: 400, gravity: "face", radius: "max", crop: "crop", quality: 80}, {width: 150, crop: "scale"}] %>
          </div>
          <div class="ml-2 mt-1 d-flex align-self-center flex-column">
            <span class="purple sm-line">Por usuário anônimo</span>
            <span>em <%= I18n.localize @review.created_at, format: :long %></span>
          </div>
        </div>
      <% else %>
        <div class="d-flex justify-content-start">
          <div>
            <%= cl_image_tag @review.user.photo.key, class:"avatar-mini", transformation: [{width: 400, height: 400, gravity: "face", radius: "max", crop: "crop", quality: 80}, {width: 150, crop: "scale"}] %>
          </div>
          <div class="ml-2 mt-1 d-flex align-self-center flex-column">
            <span class="purple sm-line">Por <%= @review.user.username %></span>
            <span>em <%= I18n.localize @review.created_at, format: :long %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!-- REVIEW CONTENT -->
  <div class="review-content m-3 border-bottom">
    <% if @review.is_disabled? %>
      <p> Avaliação removida </p>
    <% else %>
      <p><%= @review.content %></p>
    <% end %>
  </div>
  <!-- RESPONSE -->
  <% if @review.responses.present? %>
    <% @review.responses.each do | response | %>
      <div class="response-card">
        <!-- RESPONSE HEADER -->
        <div class="response-header m-3">
          <% if response.user == @review.place.owner %>
            <div class="d-flex justify-content-end">
              <div class="mr-2 mt-1 d-flex align-self-center flex-column">
                <span class="purple sm-line">Por <%= response.review.place.name %></span>
                <span>em <%= I18n.localize response.created_at, format: :long  %></span>
              </div>
              <div>
                <%= cl_image_tag response.user.photo.key, class:"avatar-mini", transformation: [{width: 400, height: 400, gravity: "face", radius: "max", crop: "crop", quality: 80}, {width: 150, crop: "scale"}] %>
              </div>
            </div>
          <% else %>
            <div class="d-flex justify-content-start">
              <% if @review.is_anonymous %>
                <div>
                  <!-- avatar anonimo -->
                </div>
                <div class="ml-2 mt-1 d-flex align-self-center flex-column">
                  <span class="purple sm-line ml-2 pt-3">Por usuário anônimo</span>
                  <span>em <%= I18n.localize response.created_at, format: :long  %></span>
                </div>
              <% else %>
                <div>
                  <%= cl_image_tag @review.user.photo.key, class:"avatar-mini", transformation: [{width: 400, height: 400, gravity: "face", radius: "max", crop: "crop", quality: 80}, {width: 150, crop: "scale"}] %>
                </div>
                <div class="ml-2 mt-1 d-flex align-self-center flex-column">
                  <span class="purple sm-line">Por <%= @review.user.username %></span>
                  <span>em <%= I18n.localize response.created_at, format: :long  %></span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <!-- RESPONSE CONTENT -->
        <div class="response-content m-3 border-bottom">
          <% if response.user == @review.place.owner %>
            <p style="text-align:right;"><%= response.response %></p>
          <% else %>
            <p><%= response.response %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <!-- ADD RESPONSE -->
  <% if policy(@review).create_response? %>
    <div class="mx-3">
      <%= simple_form_for [@review, @response], method: 'post' do |f| %>
        <div>
          <div class="d-flex justify-content-center">
            <%= f.label "Interaja nesta avaliação" %>
          </div>
          <%= f.input :response, label: false, placeholder: "Escreva aqui a sua resposta" %>
          <div>
            <%= f.submit 'Responda', class: 'd-flex justify-content-center form-actions pink-btn justify-content-center align-center-btn mb-3 w-100' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <!-- links -->
  <div class="m-3">
    <% if policy(@review).edit?  %>
      <%= link_to edit_review_path do %>
        <i class="far fa-edit"></i> Edite a avaliação
      <% end %>
    <% end %>
    <br>
    <% if policy(@review).disable? %>
      <%= link_to disable_review_path(@review) do %>
        <i class="fas fa-trash-alt"></i> Desative a avaliação 
      <% end %>
    <% end %>
    <br>
    <% if policy(@review).satisfy? %>
      <%= link_to satisfy_review_path(@review) do %>
        <i class="far fa-check-circle"></i> Questão resolvida?
      <% end %>
    <% end %>
  </div>
