<h2>Review of <%= @review.place.name %></h2>
<p><%= @review.content %></p>
<p id="ollivia_rating">Ranking Ollivia: <%= @review.rating %></p>
<% if @review.is_anonymous %>
  <p>By: anonymous</p>
<% else %>
  <p>By: <%= @review.user.username %></p>
<% end %>
<% @review.responses.each do | response | %>
  <div>
    <p><%= response.response %></p>
    <p><em>Responded by <%= response.user.username %> <%= "(owner)" if current_user == @review.place.owner %> </em></p>
    <hr>
  </div>
<% end %>
<% if policy(@review).create_response? %>
  <div>
    <p>Write a response:</p>
    <%= simple_form_for [@review, @response], method: 'post' do |f| %>
      <div>
        <%= f.input :response %>
        <%= f.submit 'Respond' %>
      </div>
    <% end %>
  </div>
<% end %>
<% if policy(@review).edit?  %>
  <p><%= link_to "Editar review", edit_review_path %></p>
<% end %>
<% if policy(@review).disable? %>
  <%= link_to "Desativar review", disable_review_path(@review) %>
<% end %>
<p><%= link_to "Voltar para #{@review.place.name}", place_path(@review.place) %></p>
