<!--header-->
<div class="heading d-flex justify-content-between align-items-center w-100">
  <div class="back-btn text-white ml-2">
    <%= link_to :back do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="pg-title">
    AVALIAÇÃO
  </div>
  <div>
  </div>
</div>
<!--fim do header-->

<div class="container">
  <div class="d-flex mt-4 mb-2 pt-5 purple justify-content-center">
    <h2><strong><%= @review.place.name %></strong></h2>
  </div>
  <div class="d-flex justify-content-center">
    <h3><%= @review.title %></h3>
  </div>
  <div class="d-flex justify-content-around">
    <% if @review.user == current_user %>
      <span class="align-self-center">Sua avaliação: </span>
    <% elsif @review.is_anonymous %>
      <span class="align-self-center"> Avaliação de usuário anônimo: </span>
    <% else %>
      <span class="align-self-center"> Avaliação de <%= @review.user.username %>: </span>
    <% end %>
    <!-- RATING SYSTEM -->
    <div class="rates-outer align-self-center" data-rating="<%= @review.rating %>"> 
      <div class="rates-inner align-self-center">
      </div>
    </div>
    <span id="number-rating" class="align-self-center"><%= @review.rating %></span>
    <% if @review.is_good %>
      <div class="xp-btn d-flex justify-content-center">
        <i class="far fa-smile-beam mt-2"></i>
      </div>
    <% else %>
      <div class="xp-btn d-flex justify-content-center">
        <i class="far fa-frown mt-2"></i>
      </div>
    <% end %>

  </div>

  </div>
  <!-- conteudo do review -->
  <div class="m-3">
    <% if @review.is_disabled? %>
      <p> Avaliação removida </p>
    <% else %>
      <p><%= @review.content %></p>
    <% end %>
  </div>
  <!-- response -->
  <div class="m-3">
    <% @review.responses.each do | response | %>
      <div>
        <p><%= response.response %></p>
        <p><em>Respondido por <%= response.review.place.name %> <%= "(dono)" if current_user == @review.place.owner %> </em></p>
        <hr>
      </div>
    <% end %>
    <% if policy(@review).create_response? %>
      <div>
        <p>Write a response:</p>
        <%= simple_form_for [@review, @response], method: 'post' do |f| %>
          <div>
            <%= f.input :response %>
            <%= f.submit 'Responda' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <!-- links -->
  <div class="m-3">
    <% if policy(@review).edit?  %>
      <p><%= link_to edit_review_path do %></p>
        <i class="far fa-edit"></i> Edite a avaliação
      <% end %>
    <% end %>
    <br>
    <br>
    <% if policy(@review).disable? %>
      <%= link_to disable_review_path(@review) do %>
        <i class="fas fa-trash-alt"></i> Desative a avaliação 
      <% end %>
    <% end %>
    <p><%= link_to place_path(@review.place) do %></p>
      <i class="fas fa-arrow-left"></i> <%= "Voltar para #{@review.place.name}" %>
    <% end %>
    <br>
    <% if policy(@review).satisfy? %>
      <p><%= link_to "Questão resolvida?", satisfy_review_path(@review) %>
      <% end %>
    </div>
  </div>
