<h2>Review of <%= @review.place.name %></h2>
<p><%= @review.content %></p>
<p>Ranking Ollivia: <%= @review.rating %></p>
<p>By: <%= @review.user.username %></p>
<% @review.responses.each do | response | %>
  <div>
    <p><%= response.response %></p>
    <p><em>Responded by <%= response.user.username %> <%= "(owner)" if current_user == @review.place.owner %> </em></p>
    <hr>
  </div>
<% end %>
<% if policy(@review).create_response? %>
  <div>
    <p>Write a response:</p>
    <%= simple_form_for [@review, @response], method: 'post' do |f| %>
      <div>
        <%= f.input :response %>
        <%= f.submit 'Respond' %>
      </div>
    <% end %>
  </div>
<% end %>
<% if @review.created_at >= Time.now - 30.minutes  %>
  <%= link_to "Editar review", edit_review_path %>
<% end %>
