<!--header-->
<div class="heading d-flex justify-content-between align-items-center w-100">
  <div class="back-btn text-white ml-2">
    <%= link_to :back do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="pg-title">
    <%= @place.name %>
  </div>
  <div>
  </div>
</div>
<!--fim do header-->
<div>
  <div>
    <!--img -->
    <div class="img-show">
      <%= cl_image_tag @place.photo.key %>
    </div>
    <!-- infos do estabelecimento -->
    <div class="review-content">
      <% if @place.reviews.length == 0 %>
      <% else %>
        <!-- RATING SYSTEM -->
        <div class="review-ranking">
          <div class="rating-container">
            <div class="rates-outer">
              <div class="rates-inner">
              </div>
            </div>
            <span id="number-rating"><%= @place.average_rating.round(1) %></span>
            <span class="txt-rating d-block">Ranking Ollivia</span>
          </div>
        <% end %>
      </div>
      <div class="review-header mt-3 pt-4 pb-2 px-4 border-bottom">
        <div class='place-info'>
          <h2 class="purple"><%= @place.name %></h2>
          <p><%= @place.description %></p>
          <div class="row d-flex justify-content-around align-items-center mb-3">
            <% if  @place.reviews.length == 1 %>
              <p class="sm-line mt-3"><strong class="purple"> 1 </strong> relato </p>
            <% elsif @place.reviews.length > 2 %>
              <p class="sm-line mt-3"><strong class="purple"><%= @place.reviews.length %></strong> relatos </p>
              <div class="xp-btn d-flex justify-content-center">
                <i class="far fa-smile-beam mt-2"></i>
              </div>
              <!-- linkar após criarmos a rota -->
              <div class="xp-btn d-flex justify-content-center">
                <i class="far fa-frown mt-2"></i>
              </div>
            <% else %>
              Local sem avaliações
            <% end %>
          </div>
        </div>
      </div>
      <!--form collapsable -->
      <% if policy(@place).add_review? %>
        <div id="accordion">
          <div class="card">
            <div class="card-header bg-white" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link justify-content-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Deixe sua avaliação
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <%= simple_form_for [@place, @review], method: 'post' do |f| %>
                  <%# LABEL + INPUTS IS_GOOD  %>
                  <%= f.label "Como foi sua experiência?" %>
                  <%= f.collection_radio_buttons :is_good,
                                              [
                                                [true, 'Boa'],
                                                [false, 'Ruim']
                                              ],
                                              :first,
                                              :last,
                                              checked: true,
                                              item_wrapper_class: :evaluation,
                                              item_wrapper_tag: :p %>
                  <%= f.input :title, label: "Título" %>
                  <%= f.input :content %>
                  <%= f.input :rating, collection: (0..5).to_a, selected: 0 %>
                  <fieldset class="form-group" id="anonymous" style="display:none;">
                    <%= f.input :is_anonymous, label: "Você gostaria de permanecer anônima?" %>
                  </fieldset>
                  <%= f.submit 'Avaliar' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <!--botões de exp boa e ruim-->
      <div class="review-buttons d-flex justify-content-around m-4">
        <!-- linkar após criarmos a rota -->
      </div>
      <!--reviews-->
      <% @reviews.where("is_disabled = ?", false).each do |review| %>
        <div class="review-card">
          <div class="review-header m-3">
            <% if review.is_anonymous %>
              <!-- avatar anonimo -->
              <p>Por: usuário anônimo</p>
              <%= link_to review.title, review_path(review) %>
            <% else %>
              <%= cl_image_tag review.user.photo.key, class:"avatar-mini", transformation: [{width: 400, height: 400, gravity: "face", radius: "max", crop: "crop", quality: 80}, {width: 150, crop: "scale"}] %>
              <%= link_to review.title, review_path(review), class: "ml-1" %>
              <p class="ml-5 purple sm-line">Por <%= review.user.username %></p>
              <% if review.responses.present? %>
                <span class="badge badge-pill badge-primary badge-pos">Respondido</span>
              <% end %>
            <% end %>
          </div>
          <div class="review-content m-4 border-bottom">
            <% if review.content.chars.length > 121 %>
              <p><%= review.content.slice(0, 120) + '...' %></p>
            <% else %>
              <p> <%= review.content %></p>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if @review.responses %>
        <div class="response-card">
          <div class="response-header">
          </div>
          <div class="response-content">
          </div>
        </div>
      <% end %>
    </div>
    <!--botões-->
    <% if current_user.blank? %>
      <%= link_to 'Faça login para avaliar o local', new_user_session_path unless current_user.present? && current_user.is_business %>
    <% end %>
    <!-- <p><%= link_to 'Voltar a Locais', places_path %></p> -->
  </div>
