<div class="container">
  <div class="img-show">
    <!-- <#%= image_tag @place.photo %> -->
  </div>
  <div class="review-content">
    <div class="review-ranking">
      <span>Ranking Ollivia: </span>
      <% if @place.reviews.length == 0 %>
        <span>"Local sem avaliações. Deixe sua opinião"</span>
      <% else %>
        <!-- RATING SYSTEM -->
        <div class="rates-outer">
          <div class="rates-inner">
          </div>
        </div>
        <span class="number-rating"><%= @place.average_rating.round(1) %></span>
      <% end %>
    </div>
    <div class="review-header">
      <h2><%= @place.name %></h2>
      <p> <%= @review.responses.length %> relatos </p>
    </div>
    <div class="review-buttons">
      <!-- linkar após criarmos a rota -->
      <div class="xp-btn">
        <div class="xp-btn-thumb">
          <i class="far fa-thumbs-up"></i>
        </div>
        <div class="xp-btn-content">
          Experiência boa
        </div>
      </div>
      <!-- linkar após criarmos a rota -->
      <div class="xp-btn">
        <div class="xp-btn-thumb">
          <i class="far fa-thumbs-down"></i>
        </div>
        <div class="xp-btn-content">
          Experiência ruim
        </div>
      </div>
    </div>
    <div class="review-card">
      <div class="review-header">
      </div>
      <div class="review-content">
      </div>
    </div>
    <% if @review.responses %>
      <div class="response-card">
        <div class="response-header">
        </div>
        <div class="response-content">
        </div>
      </div>
    <% end %>
  </div>
</div>
<p>Avaliações:</>
<% @reviews.where("is_disabled = ?", false).each do | review | %>
  <p><%= link_to review.title, review_path(review) %></p>
<% end %>
<% if policy(@place).edit? %>
  <p><%= link_to 'editar local', edit_place_path(@place) %></p>
<% end %>
<% if policy(@place).add_review? %>
  <div>
    <p>Nos conte sobre a sua experiência:</p>
    <%= simple_form_for [@place, @review], method: 'post' do |f| %>
      <div>
        <%# LABEL + INPUTS IS_GOOD  %>
        <%= f.label "Como foi sua experiência?" %>
        <%= f.collection_radio_buttons :is_good,
                                      [
                                        [true, 'Boa'],
                                        [false, 'Ruim']
                                      ],
                                      :first,
                                      :last, 
                                      checked: true,
                                      item_wrapper_class: :evaluation,
                                      item_wrapper_tag: :p %>
        <%= f.input :title, label: "Título" %>
        <%= f.input :content %>
        <%= f.input :rating, collection: (0..5).to_a, selected: 0 %>
        <fieldset class="form-group" id="anonymous" style="display:none;">
          <%= f.input :is_anonymous, label: "Você gostaria de permanecer anônima?" %>
        </fieldset>
        <%= f.submit 'Avaliar' %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= link_to 'Faça login para avaliar o local', new_user_session_path unless current_user == @place.owner %>
<% end %>
<p><%= link_to 'Voltar a Locais', places_path %></p>
<!-- JS SCRIPT PARA RATING CUSTOMIZADO -->
<script>
  // Rating
  const rating = <%= @place.average_rating.round(1) %>
  console.log(rating)
  // Total icons
  const iconTotal =5;
  
  // Run getRating when DOM loads
  document.addEventListener('DOMContentLoaded', getRating);
  
  // Get rating
  function getRating() {
    // Get percentage
    const iconPercentage = (rating / iconTotal) * 100;
    console.log(iconPercentage)
    // Round to nearest
    const iconPercentageRounded = `${Math.round(iconPercentage / 10) * 10}%`;
    console.log(iconPercentageRounded)
    // Set width of rates-inner to percentage
    document.querySelector('.rates-inner').style.width = iconPercentageRounded;
  };
</script>
