<h1><%= @place.name %></h1>
<p>Ranking Ollivia: <%= @place.reviews.length == 0 ? "Local sem avaliações" : @place.average_rating %></p>
<p>Reviews:</>
<% @place.reviews.each do | review | %>
  <p><%= link_to review.title, review_path(review) %></p>
<% end %>
<% if policy(@place).edit? %>
  <p><%= link_to 'editar local', edit_place_path(@place) %></p>
<% end %>
<% if policy(@place).add_review? %>
  <div>
    <p>Nos conte sobre a sua experiência:</p>
    <%= simple_form_for [@place, @review], method: 'post' do |f| %>
      <div>
        <%= f.input :is_good, label: "Sua experiência foi boa?", as: :radio_buttons, selected: true, checked: "Yes" %>
        <%= f.input :title, label: "Título" %>
        <%= f.input :content %>
        <%= f.input :rating, collection: (0..5).to_a, selected: 0 %>
        <%= f.input :is_anonymous, label: "Você gostaria de permanecer anônima?" %>
        <%= f.submit 'Review' %>
      </div>
    <% end %>
  </div>
<% end %>
<p><%= link_to 'voltar a Locais', places_path %></p>
