<!DOCTYPE html>
<html>
  <head>
    <title>Ollivia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <%= image_tag 'icons/btn-sos', class: 'emergency-btn' do %>
      <!--link to angels-->
    <% end %>
<<<<<<< HEAD
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
=======
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
>>>>>>> master
    <%= yield %>
    <div class="fixed-bottom">
      <%= render "shared/navbar"  %>
    </div>
  </body>
</html>
