<!DOCTYPE html>
<html>
  <head>
    <title>Ollivia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body class='m-0'>
    <div data-controller="position"
    data-position-refresh-interval="60000"></div>
    
      <% if alert %>
        <div style="position:absolute; height:100vh; width:100vw; z-index:5" class="d-flex justify-content-center align-content-center">
          <div class="flash-alert alert alert-dismissible fade show align-self-center" role="alert" data-controller="alert" data-target="alert.message" data-alert-message="<%= alert %>">
            <span><%= alert %></span>
            <a data-action="alert#dismiss" data-dismiss="alert" aria-label="Close"><i class="fas fa-times"></i></a>
          </div>
        </div>
      <% end %>
      <% if notice %>
        <div style="position:absolute; height:100vh; width:100vw; z-index:5" class="d-flex justify-content-center align-content-center">
          <div class="flash-notice alert alert-dismissible fade show align-self-center" role="alert" data-controller="alert" data-target="alert.message" data-alert-message="<%= notice %>">
            <span><%= notice %></span>
            <a data-action="alert#dismiss" data-dismiss="alert" aria-label="Close"><i class="fas fa-times"></i></a>
          </div>
        </div>
      <% end %>
    
    <div class="main-content">
      <%= yield %>
    </div>
    <div class="fixed-bottom">
      <%= render "shared/navbar"  %>
    </div>
  </body>
</html>
